<div class="media span4">
	<a class="pull-left" href="#">
		<%= image_tag user.image_url(:thumb).to_s %>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= user.f_name.to_s + user.l_name.to_s %></h4>

	</div>
</div>