<div class="row-fluid" style="margin:5px;">
	<div class="media">
		<a class="pull-left" href="#">
			<%= image_tag user.image_url(:thumb).to_s, :style => 'width:100px; height:100px;' %>
		</a>
		<div class="media-body">
			<h4 class="media-heading"><%= user.f_name.to_s + user.l_name.to_s %></h4>

		</div>
		<a href="/users/destroy/<%= user.id %>">Delete User</a>
	</div>
</div>