<div class="basic_wrapper">
	<div class="basic_name"><%= user.fullname %></div>
	<div class="basic_photo"><%= image_tag user.image_url(:thumb).to_s, :class => 'img-circle' %></div>
	<div>
		<% if !current_user.buddies.include? user %><a href="/users/request_buddy/<%= user.id %>">Add Buddy</a><% elsif current_user.buddies.include? user %>In My Buddylist<% else %>Buddy Request Pending<% end %>
	</div>
</div>