<div class="span2 logo_bg">
    <%= image_tag 'logo.png', :style => "margin-top: -15px; height: 225px;" %>
</div>
<div class="span2 pp_bg">
    <%= image_tag @user.image_url(:thumb).to_s, :class => 'img-circle' %>
</div>

<script type="text/javascript">

  $( document ).ready(function() {
    $(".personal").hide();
  });

  function move(){

    $(".personal").toggle('fast');
    $(".contact").toggle('fast');

  }

</script>